@use "global" as *;
.card__content {
  display: inline-block;
  width: 100%;
  // .cardの子要素
  position: absolute;
  left: 0;
  bottom: 0;
  @include mq(md) {
    padding-left: 50%;
    top: 50%;
    transform: translate(0%, -50%);
  }
  @include mq(xl) {
  }
}
